In [1]:
# Measure of central tendency

In [ ]:
# mean

In [2]:
import numpy as np

In [3]:
age = [10,12,11,12,9,12,12]
np.mean(age)

11.142857142857142

In [4]:
import seaborn as sns
df = sns.load_dataset('tips')

In [5]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
np.mean(df['total_bill'])

19.78594262295082

In [11]:
weight = [30,40,33,32,31,21,19]

In [12]:
np.mean(weight)

29.428571428571427

In [ ]:
# median

In [7]:
np.median(age)

12.0

In [13]:
weight1 = [30,40,33,32,31,21,990]

In [14]:
np.mean(weight1)

168.14285714285714

In [15]:
np.median(weight1)   
# median is used specially in case of outlier
# mean is giving too huge value

32.0

In [19]:
np.median(df['total_bill'])

17.795

In [16]:
# mode

In [17]:
from scipy import stats

In [18]:
stats.mode(age)

/tmp/ipykernel_508/2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([12]), count=array([4]))