In [1]:
#question 1
#program to sort the given list of tuples based on integer value using a lambda function.
# [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [23]:
l= [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [24]:
l.sort(key=lambda x:x[1])

In [25]:
l

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [2]:
#question 2
#find the squares of all the numbers in the given list of integers using lambda and map functions.

In [30]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list( map(lambda x:x*x,l1) )

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
#question 3
# convert the given list of integers into a tuple of strings. Use map and lambda functions
# Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [32]:
l2= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple( map(lambda x: str(x),l2) )

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [4]:
#question 4
# program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [10]:
l = list(range(1,26))

In [11]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [14]:
from functools import reduce
reduce(lambda x,y:x*y, l)

15511210043330985984000000

In [5]:
#question 5
# filter the numbers in a given list that are divisible by 2 and 3 using the filter function

In [15]:
l1 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

list(filter(lambda x : x%6==0, l1))

[6, 60, 90, 120]

In [16]:
#question 6
# program to find palindromes in the given list of strings using lambda and filter function. ['python', 'php', 'aba', 'radar', 'level']

In [27]:
l3= ['python', 'php', 'aba', 'radar', 'level']

list( filter( lambda x: x == x[::-1], l3 ) )

['php', 'aba', 'radar', 'level']