In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [10]:
s = df['Name'][0:10]

In [11]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [13]:
type(s)

pandas.core.series.Series

In [14]:
# adding our own index

In [19]:
l = ['a','b','shri','d','e','f','g','h','i','j']

In [21]:
s1 = pd.Series(list(s),index=l)

In [23]:
s1

a                                 Braund, Mr. Owen Harris
b       Cumings, Mrs. John Bradley (Florence Briggs Th...
shri                               Heikkinen, Miss. Laina
d            Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                                Allen, Mr. William Henry
f                                        Moran, Mr. James
g                                 McCarthy, Mr. Timothy J
h                          Palsson, Master. Gosta Leonard
i       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                     Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [24]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [25]:
s[0]

'Braund, Mr. Owen Harris'

In [26]:
s1[0]    # it rembembers it's default index

'Braund, Mr. Owen Harris'

In [27]:
s1['a']

'Braund, Mr. Owen Harris'

In [29]:
s2 = s1.append(s)

/tmp/ipykernel_880/2451741888.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s)

In [30]:
s2

a                                 Braund, Mr. Owen Harris
b       Cumings, Mrs. John Bradley (Florence Briggs Th...
shri                               Heikkinen, Miss. Laina
d            Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                                Allen, Mr. William Henry
f                                        Moran, Mr. James
g                                 McCarthy, Mr. Timothy J
h                          Palsson, Master. Gosta Leonard
i       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                     Nasser, Mrs. Nicholas (Adele Achem)
0                                 Braund, Mr. Owen Harris
1       Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                  Heikkinen, Miss. Laina
3            Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                                Allen, Mr. William Henry
5                                        Moran, Mr. James
6                                 McCarthy, Mr. Timothy J
7                          Palsson, Master. Gosta Leonard
8       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                     Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [31]:
s2[0]

'Braund, Mr. Owen Harris'

In [34]:
s4 = pd.Series([33,44,55,66,77], index=[2,4,5,6,1])

In [37]:
s5 = pd.Series([330,440,550,660,770], index=[9,6,4,8,0])

In [39]:
s6 = s4.append(s5)

/tmp/ipykernel_880/937876903.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6 = s4.append(s5)

In [40]:
s6

2     33
4     44
5     55
6     66
1     77
9    330
6    440
4    550
8    660
0    770
dtype: int64

In [41]:
s6[4]

4     44
4    550
dtype: int64

In [42]:
s6[5]

55

In [45]:
s6[0:5]

/tmp/ipykernel_880/2671872114.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s6[0:5]

2    33
4    44
5    55
6    66
1    77
dtype: int64

In [46]:
s4

2    33
4    44
5    55
6    66
1    77
dtype: int64

In [47]:
s5

9    330
6    440
4    550
8    660
0    770
dtype: int64

In [48]:
s4*s5

0        NaN
1        NaN
2        NaN
4    24200.0
5        NaN
6    29040.0
8        NaN
9        NaN
dtype: float64

In [49]:
s4+s5

0      NaN
1      NaN
2      NaN
4    594.0
5      NaN
6    506.0
8      NaN
9      NaN
dtype: float64